.footer-container {
  background-color: #14213D;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-subscription > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 24px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.title {
  text-align: center;
  color: white;
  text-decoration: underline;
}

.footer-links {
  width: 100%;
  margin-top: 15px;
}

.footer-link-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > p {
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

/* Social Icons */
.social-icon-link {
  color: #fff;
  display: flex;
}

.footer-link-items a:hover {
  color: #0056b3;
  transition: 0.3s ease-out;
}

.accordion-view {
  max-width: 600px;
}

@media screen and (max-width: 820px) {

  .footer-links {
    padding-top: 2rem;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
