body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.sym ul li {
  display: inline-block;
}
.sym ul li a {
  color: rgba(255, 255, 255, 0.45);
  font-size: 0.875rem;
  display: block;
  text-decoration: none;
  padding: 6px 15px;
}
.sym ul li a:hover {
  color: #fff;
}

section {
  height: 100%;
  width: 100%;
  display: table;
  pointer-events: none;
  z-index: 0;
  -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
}
section h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

#two {
  background: #00bcd4;
}

a[id="two"]:target ~ #two {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

