.sg-signup{
    margin: 0;
    background: linear-gradient(to right, #14213D 50%, #fca311 0%);
    height:100vh;
    color:#fff;
}

.adsv-box-sgnup{
    color: #03282b;
    margin-top: 40%;
    margin-left: 30%;
    float: left;
    line-height: 3;
}

.signup-box{
    color: #1a2744;
    margin: 30% 15% auto auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.titleH1signup{
    font: Tahoma, Helvetica, Arial, Sans-serif;
    color: #e3e3e3;
    text-shadow: 0px 2px 3px #555;
    font-weight: 600;
    text-align: center;
}

.btn-signmsk-boots{
    margin-right: 3rem;
    justify-content: center !important;
    align-items: center !important;
}
